node_modules
.idea
.sass-cache
.vscode/**/*
app/**/*.js.map
app/**/*.js
server/**/*.js.map
server/**/*.js
config/**/*.js.map
config/**/*.js
app/**/*.css
app/**/*.css.map
app/i18n/en-US.json
styles/**/*.css
styles/**/*.css.map
server/typings/**
server/typings/globals/**
server/typings/index.d.ts
dist/
main.js
main.js.map
test-results
checkstyle.xml
Chrome_*
stats.json
npm-debug.log*